[Desktop Entry]
Name=Spice-Up
Comment=Spice up your slides
Comment[pt_BR]=Tempere os seus slides
Comment[fr]=Épicer vos présentations
Exec=com.github.philip-scott.spice-up %u
Icon=com.github.philip-scott.spice-up
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Presentation;
MimeType=application/x-spiceup;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=com.github.philip-scott.spice-up --about
Name=About Spice-Up
Name[pt_BR]=Sobre o Spice-Up
Name[fr]=À propos de Spice-Up
