[Desktop Entry]
Name=Spice-Up
Comment=Spice up your slides
Comment[ca]=Assaoneu les vostres presentacions
Comment[es]=Dele vida a sus presentaciones
Comment[fr]=Épicer vos présentations
Comment[pt_BR]=Tempere os seus slides
Exec=com.github.philip-scott.spice-up %u
Icon=com.github.philip-scott.spice-up
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Presentation;
MimeType=application/x-spiceup;
