@define-color colorPrimary #2c2d2e;
@define-color colorAccent @SLATE_100;

.padding-none {
    padding: 0px;
}

.icon-shadow {
    -gtk-icon-shadow: 0px 0px 3px black;
}

.slide-list {
    background-color: shade(@bg_color, 0.75);
    border-right: solid 1px rgba(0,0,0,0.75);
}

.slide-list .list-row:selected:focus, .slide-list row:selected:focus {
    background-color: @colorAccent;
}

.slide-list .list-row:selected, .slide-list row:selected {
    background-color: shade(@colorAccent, 0.7);
}

.new.slide {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    border-color: black;
}

.canvas {
    box-shadow: inset 0 0 0 2px alpha (#fff, 0.05);
    border-radius: 6px;
}

.gradient.circular .checkered, .gradient.circular .colored {
    border-radius: 50%
}

.gradient.circular .colored {
    border: 2px solid rgba(0,0,0,0.5);
}

.gradient.circular {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    border: 1.4px solid rgba(0,0,0,0.6);
}

.gradient.circular.selected {
    background: rgba(255, 255, 255, 0.9);
    border: 1.4px solid rgba(0,0,0,0.9);
}

.canvas, frame {
    border-radius: 6px;
}

.view.canvas {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.75);
}

.view.canvas.preview {
    border-color: black;
    border-radius: 4px;
}

GtkTextView, textview {
    background-color: transparent;
}

GtkTextView:selected, textview:selected {
    background-color: rgba(0,0,0,0.75);
    color: white;
}

.spice-dynamic-toolbar {
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
}

GtkToggleButton.spice, .spice,
.spice-dynamic-toolbar .spice {
    color: #DEDEDE;
    background-color: rgba(255,255,255,0.05);
    padding: 2px 8px;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 0px 0px 1px 1px rgba (0,0,0, 0.1);
}

.spice-dynamic-toolbar .spice .entry {
    padding: 0px 3px;
}

.spice-dynamic-toolbar .spice.padding-none {
    padding: 0px;
}

.spice:active,
.spice:checked,
.spice:selected {
    background: none;
    background-color: alpha (#000, 0.05);

    border-color: alpha (#000, 0.27);
    box-shadow:
        inset 0 0 0 1px alpha (#000, 0.05),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
}

.spice.suggested-action:active,
.spice.suggested-action:selected {
    background: shade (@selected_bg_color, 0.8);
    border-color: shade (@selected_bg_color, 0.8);
}

.spice:disabled, .spice:disabled image {
    background-image: none;
    background-color: transparent;
    color: @insensitive_color;
}

.linked .spice {
    border-left-width: 0;
    border-radius: 0;
}

.linked .spice:first-child {
    border-width: 1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.linked .spice:last-child {
    border-left-width: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.spice-scale {
  color: @text_color;
}

.app-back {
    background-color: @bg_color;
}

.fullscreen .app-back {
    background-color: black;
}

.remove-padding {
    padding: 0;
}
